a {
  color: black;
  text-decoration: none;
}

.part1 {
  height: 60px;
  width: 100%;
  background-color: #c78d67;
  color: black;
  padding-left: 200px;
  font-size: 40px;
}

.title-heads:hover {
  color: white;
}

.part2 {
  background-image: url(../images/adjo1.JPG);
  height: 500px;
  width: 100%;
  background-size: 100%;
}

.part2a {
  padding-top: 150px;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
  color: black;
  opacity: 1.0;
  text-align: center;
  padding: 0px 80px 0 90px;
}


/*introducing a transclucent covering over name*/

#opacity {
  height: 200px;
  width: 600px;
  background-color: white;
  opacity: 0.5;
  margin: 0px 180px 20px 380px;
  background-position: center;
}

#text {
  padding-top: 25px;
  /*opacity: 1.0;*/
}

.part3 {
  height: 300px;
  width: 100%;
  background-color: #e6e2d3;
}


/*putting a smaller component within the third part*/

.small-part3 {
  box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #e6e2d3;
  height: 250px;
  width: 1250px;
  margin: 25px 90px 25px 35px;
}

.part3a {
  float: left;
  padding-top: 15px;
  font-size: 15px;
}

.part3b {
  float: right;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  padding-top: 50px;
}

.part4 {
  background-image: url(../images/bichon.jpg);
  height: 400px;
  background-size: 70%;
  background-repeat: repeat;
  width: 100%;
}

.label {
  color: #dac292;
  font-size: 30px;
}

.form-inline {
  text-align: center;
  padding-top: 160px;
}

#name {
  background-color: #dac292;
  border-color: #dac292;
  height: 45px;
  width: 200px;
  font-size: 20px;
  color: white;
  margin-left: 20px;
}

#the-email {
  height: 45px;
  width: 350px;
  font-size: 20px;
}

.part5 {
  height: 300px;
  width: 100%;
  padding-top: 100px;
  margin-left: 5px;
  background-color: white;
  background-repeat: repeat;
}
